
body {
	max-width: 1000px;
	background: #003333;
	color: #eee;
	font-family: system-ui;
	line-height: 1.5;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a
{
	text-decoration: none;
	color: #077;
}

a {
	color: #077;
}


a.replink {
	color: #067;
	&.op { color: #a60; }
	&.resp {
		margin-right: 15px;
	}
}

.item {
	padding: 10px;
	margin-bottom: 5px;
	&.op { margin-bottom: 1px };

	&:nth-child(odd) { background: #002e2e; }

	a { word-break: break-all; }

	.reply-links a {
		word-break: unset;
	}

	h1 {
		margin: 0;
	}

	pre {
		overflow: auto;
	}

	.header {
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.margin {
		margin-right: 2px;
		display: inline-block;
		height: 12px;
		width: 0px;
		background: linear-gradient(
			to right,
			#222,
			#acc
		);
	}

	.depth-2 { width: 5px; }
	.depth-3 { width: 10px; }
	.depth-4 { width: 15px; }
	.depth-5 { width: 20px; }
	.depth-6 { width: 25px; }
	.depth-7 { width: 30px; }
	.depth-8 { width: 35px; }
	.depth-9 { width: 40px; }
	.depth-10 { width: 45px; }
	.depth-11 { width: 50px; }
	.depth-12 { width: 55px; }
	.depth-13 { width: 60px; }
	.depth-14 { width: 65px; }
	.depth-15 { width: 70px; }
}
