
body {
	max-width: 1000px;
	background: #003333;
	color: #eee;
	font-family: system-ui;
	line-height: 1.5;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a
{
	text-decoration: none;
	color: #077;
}

a {
	color: #077;
}


a.replink {
	color: #067;
	&.op { color: #a60; }
	&.resp {
		margin-right: 15px;
	}
}

.item {
	padding: 4px;
	margin-bottom: 7px;
	&.op { margin-bottom: 10px };


	background: #003333;
	&:nth-child(odd) { background: #002a29; }

	a { word-break: break-all; }

	.reply-links a {
		word-break: unset;
	}

	h1 {
		margin: 0;
	}

	pre {
		overflow: auto;
	}

	.header {
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.body {
		word-break: break-word;
	}

	.margin {
		margin-right: 2px;
		display: inline-block;
		height: 12px;
		width: 0px;
		background: linear-gradient(
			to right,
			#222,
			#acc
		);
	}

	.depth {
		letter-spacing: -3px;
		display: inline-block;
		color: #007744;
	}
}


#custom-nav {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin-inline: auto;
	width: fit-content;

	button {
		background: #003333;
		color: white;
	}

	.spacer {
		display: inline-block;
		text-align: center;
		width: 20px;
	}
}
